{% extends "index.html" %}
{% block content %}
<h1 style=" text-align: center; font-size: 30px; margin-top: 30px; margin-bottom: 30px; margin-right: 0px">{{title}}</h1>
<div style="display:flex; border: solid cornflowerblue 3px; background-color: powderblue; padding-top: 50px; padding-bottom: 100px">
    <div class ="text" style ="margin: 30px; width: 700px; font-size: 20px; font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace; border: solid cornflowerblue 3px; padding: 5px; background-color: lightcyan">
    {{ text }}
    </div>
    <img src="https://kzio.kzn.ru/upload/prinyat-uchastie/proekty/kazan-gorod-muzyki/o-kazani/32b.jpg" style="margin-left: auto; width: 885px; height:650px; margin-right: 30px; border: solid cornflowerblue 3px">

</div>
{% endblock %}



